:root {
    --primary-color: #000000;
    --secondary-color: #808080;
    --accent-color: #B00000;
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --normal-font: 400;
    --medium-font: 600;
    --bold-font: 700;
    --bolder-font: 800;
    --primary-font-size: 12px;
}

body {
    font-size: var(--primary-font-size);
}

.content {
    width: 1285px;
    margin: 0 auto;
}

.list {
    list-style: none;
}

/* headers */
.headers {
    padding: 40px 0 0;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.logo {
    width: 90px;
   display: block;
}

.menu {
    margin-right: 60px;
}

.menu-list {
    display: flex;
}

.menu-item:first-child {
    margin-right: 135px;
}

.menu-item {
    margin-right: 33px;
}

.menu-item:last-child {
    margin-right: 0;
    margin-left: 200px;
    display: flex;
 
}

.menu-item:last-child .menu-link {
    margin-right: 33px;
}

.menu-item:last-child::after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background: var(--secondary-color);
    margin: 0 auto;
}

.menu-link {
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 15px;
    font-weight: var(--medium-font);
}

.contacts {
    display: flex;
    align-items: center;
}

.phone {
    margin-right: 6px;
}
/* end headers */


/* slider */

/* description */

/* plans */

/* footer */





























/*
.option-item::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: red;
    display: block;
    }

    .option-item::after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: greenyellow;
        display: block;
    }
    */

    /* header */

/* 
    .contained {
        background: #B00000;
        color: #fff;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
        padding: 12px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        cursor: pointer;
    }

   /* для зміни кольору кнопки при наведені на неї */
   /* 

    .contained:hover {
        color: #000000;
        border: 1px solid #000000;
        background-color: transparent;
    }

    .autlined {
        border: 1px solid #000000;
        border-radius: 8px;
        padding: 12px;
        color: black;
        background-color: transparent;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
         }
         */
